body {
  min-height: 3000px;
}

.jumbotron {
  padding-top: 5rem;
  background-color: black;
}

#projects {
  background-color: black;
}

#projects .container h2 {
  color: white;
}

section {
  padding-top: 5rem;
}

footer {
  color: white;
}
